<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="app/style.css">
	<script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="todoApp">
	<div class="container" ng-controller="TodoController">
		<h3>To Do App angular</h3>
				<ul class="list-group">

					<li class="list-group-item editable" ng-repeat="item in $storage.list">					
						<input type="checkbox" class="list-checkbox" ng-checked="checkStatus(item.status)" ng-Click="changeStatus(item._id,item.status)">
						<span ng-class="{'cross': checkStatus(item.status)}">{{item.task}}</span>
						<button type="button" class="close" ng-click="deleteItem(item._id)">&times;</button>						
					</li>

					<li class="list-group-item" ng-controller="TodoFormController">
						<form name="todoForm" ng-submit="addTodo()" autocomplete="off">
							<input type="text" id="add_todo" placeholder="Todo for..." ng-model="item.task" required>
							<button type="submit" class="hidden">Add Todo</button>
						</form>
					</li>

				</ul>
	</div>
<script src="node_modules/ngstorage/ngstorage.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/factory.js"></script>
</body>
</html>