<!DOCTYPE html>
<html>
<head>
	<title>Todo App</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="app/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	<script src="node_modules/angular/angular.js"></script>
</head>
<body ng-app="todoApp">
	<div class="container" ng-controller="TodoController">
		<h3>To Do App angular</h3>
				<ul class="list-group">

					<li class="list-group-item editable" ng-repeat="item in $storage.list" ng-dblclick='toggleShowInput()'>			

						<input type="checkbox" class="list-checkbox" ng-checked="checkStatus(item.status)" ng-Click="changeStatus(item._id,item.status)" ng-hide='showInput'>
						<span ng-class="{'cross': checkStatus(item.status)}" ng-hide='showInput'>{{item.task}}</span>
						<button type="button" class="close" ng-click="deleteItem(item._id)" ng-hide='showInput'>&times;</button>					

						<form name="editTask" ng-submit="updateTask(item._id)" ng-show='showInput' autocomplete="off">
							<input type="text" class="add_todo" value="{{item.task}}" ng-model="item.task" todo-focus='true == showInput' todo-escape="revertEdits(item._id)" required>
							<button type="submit" class="hidden">Add Todo</button>
						</form>
					</li>

					<li class="list-group-item" ng-controller="TodoFormController">
						<form name="todoForm" ng-submit="addTodo()" autocomplete="off">
							<input type="text" class="add_todo" placeholder="Todo for..." ng-model="item.task" autofocus required>
							<button type="submit" class="hidden">Add Todo</button>
						</form>
					</li>

				</ul>
				
				<!-- for the directive soon will be adding -->
				<!-- <ul class="list-group">
					<li class="list-group-item" ng-repeat="task in $storage.list">
						<input type="checkbox" class="list-checkbox" ng-checked="checkStatus(item.status)" ng-Click="changeStatus(item._id,item.status)" ng-hide='showInput'>
						<div my-task info="task" action="editTask(item.id)"></div>
						<button type="button" class="close" ng-click="deleteItem(item._id)" ng-hide='showInput'>&times;</button>
					</li>
				</ul> -->
	</div>
<script src="node_modules/ngstorage/ngstorage.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers.js"></script>
<script src="app/factory.js"></script>
<script src="app/directive.js"></script>
</body>
</html>